h1{
    text-align: center;
    color: #031024;
    font-family: 'Courier New', Courier, monospace;
}
.bar{
    display: flex;
    background-color: #a3a6a8;
    
}
h3{
    padding: 10px;
}
.post{
    border-radius: 5px;
    border: 2px solid rgb(178, 77, 22);
    height:500px;
    width: 600px;
    margin: 20px;
    display: inline-block;
    box-shadow: 2px 2px 10px #2f373a;
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: #666869;
    margin:10px;
}
img{
    height:39vh;
    margin-bottom: 15px;
    margin-left: 60px;
    box-shadow: #252e3b;
    box-shadow: inset;

}